.form input,
.form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form button{
    width: 100%;
    background-color:#ffbf36;
    color: white;
    border-radius: 5px;
    border: solid 2px whitesmoke;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0 2px,5px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.form button:hover{
    background-color: #2c2026;
    color: white;
}

.form .btn1{
   background-color: floralwhite; 
   color: #2c2026;

}
h3{
    padding-top: 2rem;
}