@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: floralwhite;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 100px;
    background-color: rgb(135, 193, 207); 
    color: #f7f7f7; 
    position: relative; 
    max-width: 1800px; 
    margin: 0 auto; 
}

.imagen-logo img {
    width: 70px;
}

.menu .logo {
    font-size: 25px;
    color: #ffffff;
    font-family: "Sofadi One", system-ui;
    font-weight: 800;
    text-decoration: none;
    margin-left: 15px; 
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 20px; 
}

.navbar ul li a {
    color: #f7f7f7;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    display: block;
    transition: color 0.3s ease; 
}

.navbar ul li a:hover {
    color: #ffbf36; 
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 16px;
    width: 150px; 
}
.search-button {
    background-color: #ffbf36; 
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #e6a42b; 
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

#img-carrito {
    font-size: 25px;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(31, 31, 31, 0.5);
    padding: 20px;
    min-width: 400px; 
    max-width: 80vw; 
    z-index: 1000; 
}

#menu {
    display: none;
}

label[for="menu"] {
    display: none;
    font-size: 30px;
    color: #f7f7f7;
    cursor: pointer;
}

/* Estilo del menú desplegable en pantallas pequeñas */
@media (max-width: 768px) {
    .menu.container {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px; 
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        display: none; 
    }

    .navbar ul.show {
        display: flex; 
    }

    label[for="menu"] {
        display: block; 
    }

    #menu:checked + label + .navbar ul {
        display: flex;
    }

    .navbar ul li {
        margin: 10px 0; 
    }
}

/*Parte interna del carrito*/
.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: rgb(31, 31, 31, 0.5);
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: antiquewhite;
}

.borrar {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.btn-2 {
    color: #ffffff;
}

.btn-2:hover {
    color: #ffbf36;
}


/*Imagen de arriba*/

.header-content{
    display: flex; /*Colocar elementos delante del otro*/
    justify-content: space-between;
    align-items: center; /*centrar*/
    flex: 1; /*para que tome todo el width del 100%*/
    padding: 30px 200px;
    margin-top: 20px;
}

.header-content{
   /* background-color: rgb(230, 243, 237);*/
  /*  background-color: rgb(230, 230, 243);*/
   /* background-color: rgb(243, 230, 230);*/
   /* background-color: rgb(227, 235, 217);*/
   background-color: rgba(0, 0, 0, 0.5); 
   size: 80px;
}

.header-img{
    width: 400px;
    height: auto;
    margin-right: 50px;
}

.header-txt{
    width: 50%;
}

.header-txt h1 {
    font-size: 50px;
    color: #f7f7f7;
    text-transform: capitalize;
}

.header-txt p{
    font-size: 20px;
    color: #2c2026;
}

.btn-1{
    display: inline-block;
    background-color: #ffbf36;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-1:hover{
    background-color: #2c2026;;
    color: white;
}

hr{
    color: #2c2026;
}

/*Experimento de contenido*/
.cursos-container {
    padding: 30px 20px; 
    text-align: center;
}

.cursos-container h2 {
    color: black;
    font-size: 40px; 
    margin-bottom: 30px; 
}

.Cursos_s {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Tres columnas ajustables */
    gap: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
}

.CursoS_1 {
    text-align: center;
    padding: 15px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    background-color: #fff; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

/*Animación de los cursos, al pasar el cursor, este se agranda y la sombra se oscurece*/
.CursoS_1:hover {
    transform: scale(1.02); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.cursos-container img {
    width: 180px; 
    height: auto; 
    margin-bottom: 15px; 
}

.cursos-container h3 {
    font-size: 18px; 
    color: black;
    margin-bottom: 10px; 
    margin-top: 10px; 
}

.cursos-container p {
    font-size: 14px; 
    color: #333; 
    margin-bottom: 10px; 
}

.cursos-container .precio {
    font-size: 16px; 
    font-weight: bold; /*negritas*/
}

.link-curso{
    color: #2c2026;
}

.valoraciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px; 
}

.valoraciones i {
    font-size: 20px; 
    color: #f39c12; 
}


.agregar-carrito {
    display: inline-block;
    padding: 10px 20px; 
    font-size: 14px;
    background-color: #3498db; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.agregar-carrito:hover {
    background-color: #2980b9; /* Color más oscuro para el hover */
}

 /**/
.precio{
    color: blueviolet;
}

.btn-3{
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    color: white;
    background-color: #ffbf36;
    border: 1px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-3:hover{
    background-color: #2c2026;
}

/*Footer*/

.footer-container {
    display: flex;
    justify-content: space-between; 
    padding: 40px 20px; 
    background-color: #333; 
    color: #f7f7f7; 
    flex-wrap: wrap; 
}

.footer-container .link {
    flex: 1; 
    margin: 0 20px; 
}

.footer-container .link h3 {
    font-size: 1.5rem; 
    margin-bottom: 15px; 
    color: #ffbf36; 
}

.footer-container .link ul {
    list-style: none; 
    padding: 0;
    margin: 0; 
}

.footer-container .link ul li {
    margin-bottom: 10px; 
}

.footer-container .link ul li a {
    color: #f7f7f7; 
    text-decoration: none; 
    font-size: 1rem; 
    transition: color 0.3s ease; /* Transición para el cambio de color */
}

.footer-container .link ul li a:hover {
    color: #ffbf36; 
}

.footer-container .link p {
    font-size: 0.875rem; 
    line-height: 1.5; 
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Apilar columnas verticalmente en pantallas pequeñas */
        align-items: flex-start; /* Alinear elementos al inicio */
    }

    .footer-container .link {
        margin-bottom: 20px; /* Espacio entre las columnas en pantallas pequeñas */
    }
}
